<!-- Card container -->
<div class="container pt-3">
  <div class="row">

    <!--Rotating card-->
    <div class="col-md-4 col-xs-12 col-sm-4 p-5" *ngFor="let customer of customers" [ngClass]="{'tp-box_front--active' : customer.isOpen}" (click)="showContent(customer)">
      <mdb-card-rotating #card>
        <!--Front Side-->
        <div class="face front card tp-box_side tp-box_front">
          <!-- Image-->
          <div class="card-up">
            <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28110%29.jpg" class="img-fluid" alt="">

            </div>
          </div>
          <!--/.Image-->

          <!--Content-->
          <div class="content">
            <!--Project name-->
            <h4>
              <strong>PO Number: {{customer.PoNum}}</strong>
            </h4>

            <hr>
            <!-- project summary -->
            <p>
              <strong>PO Description:</strong>{{customer.PODescrption}}
            </p>
            <a class="link-text" data-card="card-2" (click)="card.toggle()">
              <h5>
                <button class="btn btn-default">Details</button>

              </h5>
            </a>
          </div>
          <!--/.Content-->

        </div>
        <!--/.Front Side-->

        <!--Back Side-->
        <div class="face back tp-box_side tp-box_back" [hidden]="!customer.isOpen">
          <!--Details-->
          <h4 class="card-title">
            <strong>Details</strong>
            <i class="fa fa-close rotate-btn" (click)="card.toggle()"></i>
          </h4>
          <hr>

          <!--Project Details-->
          <ul class="list-unstyled p-2 text-left">
            <li>
              <h6>
                <strong> Customer Name :</strong> John Doe</h6>
            </li>
            <li>
              <strong> Type :</strong> {{customer.Type}}</li>

            <li>
              <strong>Amount : </strong>{{customer.Amount}}</li>
            <li>
              <strong>Start Date :</strong>{{customer.StartDate}}</li>
            <li>
              <strong>End Date : </strong>{{customer.EndDate}}</li>
            <li>
              <strong> Status :</strong> {{customer.Status}}</li>

          </ul>

          <button class="btn btn-default" routerLink="/purchase-orders/milestones">Milestones Summary</button>
          <hr>



        </div>
        <!--/.Back Side-->
      </mdb-card-rotating>
    </div>
    <!--/.Rotating card-->

  </div>

</div>
<!-- cards container -->