<form [formGroup]="myForm" (ngSubmit)="register(myForm)" countryCity telephoneNumbers novalidate>
  
    <div class="md-form">
      <label for="form3">Employee Number</label>
      <input type="text" name="employeNumber"  id="form3" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.employeNumber"></show-errors>
    </div>
  
    <div class="md-form">
      <label for="form4">Salutation</label>
      <input type="text" name="Salutation"  id="form4" class="form-control" mdbActive  required employeNumber>
      <show-errors [control]="myForm.controls.Salutation"></show-errors>
    </div>
  
    <div class="md-form">
      <label for="form5">FirstName</label>
      <input type="text" name="firstName"  id="form5" class="form-control" mdbActive  required>
      <show-errors [control]="myForm.controls.firstName"></show-errors>
    </div>
  
  
    <div class="md-form">
      <label for="form6">MiddleName</label>
      <input type="text" name="middleName" id="form6" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.middleName"></show-errors>
    </div>
  
    <div class="md-form">
      <label for="form7">LastName</label>
      <input type="text" name="lastNmae"  id="form7" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.lastNmae"></show-errors>
    </div>
  
  
    <div class="md-form">
      <label for="form8">Email-Id</label>
      <input type="text" name="emailId"  id="form8" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.emailId"></show-errors>
    </div>
    
    <div formArrayName="phoneNumbers">
      <h3>Phone numbers</h3>
      <div class="md-form" *ngFor="let phoneNumberControl of myForm.controls.phoneNumbers.controls; let i=index;">
        <label for ="form33">Phone number {{i + 1}}</label>
        <input type="text" name="phoneNumber[{{phoneId}}]" [formControlName]="i" required telephoneNumber id="form33" class="form-control" mdbActive>
        <show-errors [control]="phoneNumberControl"></show-errors>
        <button type="button" (click)="remove(i); myForm.markAsTouched()" class="btn btn-default">remove</button>
        <button type="button" (click)="add(); myForm.markAsTouched()" class="btn btn-default">Add phone number</button>
      </div>
      
    </div>
  
    <div class="md-form">
      <label for="form9">Manager Id</label>
      <input type="text" name="managerId"  id="form9" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.managerId"></show-errors>
    </div>
  
    <div class="md-form">
      <label for="form10">Designation</label>
      <input type="text" name="designation"  id="form10" class="form-control" mdbActive  required >
      <show-errors [control]="myForm.controls.designation"></show-errors>
    </div>
  
    <div formGroupName="location">
      <h3>Location</h3>
      <div class="md-form">
        <label for ="form55">Country</label>
        <input type="text" name="country"  id="form55" class="form-control" mdbActive required minlength="5" maxlength="30">
        <show-errors [control]="myForm.controls.location.controls.country"></show-errors>
      </div>
  
      <!-- <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" [(ngModel)]="model" required></mdb-date-picker> -->
  
      <div class="md-form">
        <label for ="form44">City</label>
        <input type="text" name="city" id="form44" class="form-control" mdbActive formControlName="city">
      </div>
    </div>
   
    <div class="md-form">
      <label for ="form44">Status</label>
      <input type="text" name="status" id="form44" class="form-control" mdbActive >
    </div>
  
    <div class="md-form">
      <label for ="form12">Type</label>
      <input type="text" name="type" id="form12" class="form-control" mdbActive >
    </div>
  
    <div class="md-form">
      <label for ="form11">Start Date</label>
      <input type="text" name="startdate" id="form11" class="form-control" mdbActive >
      <show-errors [control]="myForm.controls.startDate"></show-errors>
    </div>
  
    <div class="md-form">
      <label for ="form44">End Date</label>
      <input type="text" name="endDate" id="form44" class="form-control" mdbActive >
      <show-errors [control]="myForm.controls.managerId"></show-errors>
    </div>
  
    <div class="md-form">
      <label for ="form13">Vendor Id</label>
      <input type="text" name="vendorid" id="form13" class="form-control" mdbActive >
    </div>
  
    <div class="md-form">
      <label for ="form44">Last Updated By</label>
      <input type="text" name="lastUpdatedBy" id="form44" class="form-control" mdbActive >
    </div>
  
    <div class="md-form">
      <label for ="form14">Last Updated Date</label>
      <input type="text" name="lastUpdatedDate" id="form14" class="form-control" mdbActive >
    </div>
  
    <!-- <div class="md-form">
      <label for="form2">Birth Year</label>
      <input type="text" name="birthYear" formControlName="birthYear" id="form2" class="form-control" mdbActive required birthYear>
      <show-errors [control]="myForm.controls.birthYear"></show-errors>
    </div> -->
  
    <show-errors [control]="myForm"></show-errors>
    <div class="text-center">
      <button class="btn btn-unique waves-light" mdbRippleRadius>Send <i class="fa fa-paper-plane-o ml-1"></i></button>
  </div>
  </form>
  