<div class="container">
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

            <!-- ID Column -->
            <ng-container matColumnDef="userId">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="progress">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="color">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DataSource">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> DataSource </mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.data1}} </mat-cell>
                </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>