<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">

    <!-- Navbar brand -->
    <logo>
        <a class="navbar-brand" href="javascript:void(0)">
            <i class="fa fa-bars" (click)="toggleSidebar()"></i>&nbsp;ALLOCATION SYSTEM</a>
    </logo>

    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/dashboard" mdbRippleRadius>Dashboard
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/purchase-orders" mdbRippleRadius>Purchase Orders</a>
            </li>

            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/form-uploader" mdbRippleRadius>Forms</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/accounts" mdbRippleRadius>Accounts</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/milestones" mdbRippleRadius>Milestones</a>
            </li> -->

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Adminstration
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/admin/customers">Customers</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/admin/employees">Employess</a>
                    <a class="dropdown-item waves-light" mdbRippleRadius routerLink="/admin/vendors">Vendors</a>
                   
                        <a class="dropdown-item waves-light" routerLink="/admin/accounts" mdbRippleRadius>Accounts</a>
                   
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbRippleRadius href="#">Access Management</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <!-- Search form -->
        <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->