<!-- Sidebar navigation -->
<mdb-sidenav #sidenav class="fixed" [fixed]="true">
  <!-- Logo -->
  <li>
      <div class="logo-wrapper waves-light">
          <a href="#">
              <img src="/assets/enquero-logo.png" class="img-fluid flex-center">
          </a>
      </div>
  </li>
  
  <li>
      <ul class="collapsible collapsible-accordion">
          <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

            

              <!-- Simple link -->
              <mdb-item class="no-collase" >
                  <mdb-item-head mdbRippleRadius>
                      <a routerLink="/dashboard"><i class="fa fa-hand-pointer-o" ></i> Dashboard</a></mdb-item-head>
                  <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Collapsible link -->
            <mdb-item>
                <mdb-item-head mdbRippleRadius>
                    <i class="fa fa-eye"></i> Purchase Orders</mdb-item-head>
                <mdb-item-body>
                    <ul>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>View Summary</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>Add Purchase Order</a>
                        </li>
                    </ul>
                </mdb-item-body>
            </mdb-item>

            <mdb-item>
                <mdb-item-head mdbRippleRadius>
                    <i class="fa fa-eye"></i> Accounts</mdb-item-head>
                <mdb-item-body>
                    <ul>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>View Accounts</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>Add Account</a>
                        </li>
                    </ul>
                </mdb-item-body>
            </mdb-item>

            <mdb-item>
                <mdb-item-head mdbRippleRadius>
                    <i class="fa fa-eye"></i> Customers</mdb-item-head>
                <mdb-item-body>
                    <ul>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>View Customers</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect" mdbRippleRadius>Add New Customer</a>
                        </li>
                    </ul>
                </mdb-item-body>
            </mdb-item>

              <!-- Collapsible link -->
              <mdb-item>
                  <mdb-item-head mdbRippleRadius>
                      <i class="fa fa-eye"></i> Employees</mdb-item-head>
                  <mdb-item-body>
                      <ul>
                          <li>
                              <a href="#" class="waves-effect" mdbRippleRadius>View Employee Details</a>
                          </li>
                          <li>
                              <a href="#" class="waves-effect" mdbRippleRadius>Add New Employee</a>
                          </li>
                      </ul>
                  </mdb-item-body>
              </mdb-item>

              <!-- Simple link -->
              <mdb-item class="no-collase">
                  <mdb-item-head mdbRippleRadius>
                      <i class="fa fa-diamond"></i> User Management</mdb-item-head>
                  <mdb-item-body></mdb-item-body>
              </mdb-item>

          </mdb-squeezebox>
      </ul>
  </li>
  <!--/. Side navigation links -->
</mdb-sidenav>
<!--/. Sidebar navigation -->