<div class="container-fluid">
	<div class="row pt-3">
		<div class="col">
			<h3>Dashboard</h3><hr/>
		</div>
	</div>
	
	<div class="row pt-3">
		<div class="col-6">
			<h5>List of Purchase Orders</h5>
		</div>
		<div class="col-6 text-right">
			<i class="fa fa-lg fa-filter" mdbRippleRadius (click)="toggleFilter()"></i>
		</div>
		<div class="col-12 p-3 mt-2 mb-2" [@filterToggle]="displayFilter">
			<form class="form border border-dark p-2">
				<div class="row">
					<div class="col-3">
						<div class="md-form">
							<i class="fa fa-male prefix"></i>
							<input mdbActive type="text" id="customerName" class="form-control">
							<label for="customerName">Customer Name</label>
						</div>
					</div>
					<div class="col-3">
						<div class="md-form">
							<i class="fa fa-calendar prefix"></i>
							<input mdbActive type="text" id="financialYear" class="form-control">
							<label for="financialYear">Financial Year</label>
						</div>
					</div>
					<div class="col-3">
						<div class="md-form">
							<i class="fa fa-calendar prefix"></i>
							<input mdbActive type="text" id="quarter" class="form-control">
							<label for="quarter">Quarter</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col"><button type="button" class="btn btn-sm btn-info waves-light" mdbRippleRadius>Search</button></div>
				</div>
			</form>
		</div>
		<div class="col-12">
			<table class="table table-bordered">
				<thead class="blue-grey lighten-4">
					<th>PO Number</th>
					<th>PO Description</th>
					<th>Amount</th>
					<th>Customer Name</th>
					<th>Status</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<tr>
						<td>1234</td>
						<td>Test PO</td>
						<td>{{6000 | currency : 'USD'  : true}}</td>
						<td>John Doe</td>
						<td>Active</td>
						<td>29-Jan-2016</td>
						<td>29-Dec-2016</td>
						<td><a class="btn btn-sm btn-info waves-light" routerLink="/../allocation" mdbRippleRadius mdbTooltip="View Details"  placement="top"><i class="fa fa-info"></i></a>
					</tr>
					<tr>
						<!--  -->
						<td>1234</td>
						<td>Test PO</td>
						<td>{{6000 | currency : 'USD'  : true}}</td>
						<td>John Doe</td>
						<td>Active</td>
						<td>29-Jan-2016</td>
						<td>29-Dec-2016</td>
						<td><a class="btn btn-sm btn-info waves-light" mdbRippleRadius mdbTooltip="View Details" routerLink="../allocation" placement="top"><i class="fa fa-info"></i></a>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>