<main class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h4>Purchase Order Details</h4>
        </div>
    </div>
    <div class="row mt-4  po-details">
        <!-- Panel 1 for po number -->
        <div class="col">
            <div class="row">
                <div class="col-4 po-label">PO Num</div>
                <div class="col-8 po-label-value">CISCODFQF16</div>
                <div class="col-4 po-label">Customer</div>
                <div class="col-8 po-label-value">John Doe</div>
                <div class="col-4 po-label">PO Description</div>
                <div class="col-8 po-label-value">Some description</div>
            </div>
        </div>
        <!-- Panel 2 for po description -->
        <div class="col">
            <div class="row">
                <div class="col-4 po-label">Status</div>
                <div class="col-8 po-label-value">ACTIVE</div>
                <div class="col-4 po-label">Validity</div>
                <div class="col-8 po-label-value">29th Jan 2016 - 29th Jun 2016</div>
                <div class="col-4 po-label">Type</div>
                <div class="col-8 po-label-value">FP</div>
            </div>
        </div>

        <div class="col">
                <div class="row">
                    <div class="col-5 po-label">Total Amount</div>
                    <div class="col-7 po-label-value">{{1000 | currency : 'USD' : true}}</div>
                    <div class="col-5 po-label">Recognised Revenue</div>
                    <div class="col-7 po-label-value">{{800 | currency : 'USD' : true}}</div>
                    <div class="col-5 po-label">Balance Amount</div>
                    <div class="col-7 po-label-value" >{{200 | currency : 'USD' : true}}</div>
                </div>
            </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <ng2-smart-table [settings]="settings" class="table table-striped" [source]="data"></ng2-smart-table>
        </div>
    </div>
</main>